@model Infrastructure.Identity.ViewModels.LoginVm;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Limitless/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/colors.min.css" rel="stylesheet" type="text/css">

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>

<body>

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Login form -->
                <form class="login-form" asp-action="Login" asp-controller="Login" asp-area="Identity" method="post">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div asp-validation-summary="All"></div>
                            <div class="text-center mb-3">
                                <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Hesabınıza daxil olun</h5>
                                <span class="d-block text-muted">E-mail və parol daxil edin</span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="text" class="form-control" asp-for="UserName" placeholder="Username">
                                <span class="text-danger" asp-validation-for="UserName"></span>

                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input class="form-control" asp-for="Password" placeholder="Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Daxil ol <i class="icon-circle-right2 ml-2"></i></button>
                            </div>


                            <div class="text-center mb-3">
                                <h6 class="text-muted">Hesabınız yoxdur? <a class="h6" asp-action="Register" asp-controller="Register">Qeydiyyatdan keçin</a></h6>
                            </div>
                            

                        </div>
                    </div>
                </form>
                <!-- /login form -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>
</html>
