@model Infrastructure.Users.ViewModels.ChangePasswordVm

@{ 
    Layout = "_Layout";
                ViewData["Title"] = "Şifrəni Dəyişmək";
                ViewData["MainTitle"] = "Şifrəni";
                ViewData["SubTitle"] = "Dəyişmək";
}
@section scripts
{

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/Limitless/global_assets/js/demo_pages/form_inputs.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_validation.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/switch.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/uploader_bootstrap.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_actions.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_select2.js"></script>

    <link href="~/lib/summernote/summernote-bs5.css" rel="stylesheet" />
    <script src="~/Limitless/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/editor_summernote.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/uniform.min.js"></script>


}
<div class="card">

    <div class="card-body">
        <p class="mb-4">Şifrəni Dəyiş</p>
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="ChangePassword" asp-controller="Password" asp-area="Identity" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Archive type Details</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Şifrəniz</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="CurrentPassword">
                    </div>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Yeni Şifrə</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="NewPassword">
                    </div>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Yeni Şifrə Təsdiqi</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="ConfirmPassword">
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <br/>
  
                <input hidden asp-for="Id" value="@Model.Id"/>


                <button type="submit" class="btn bg-orange ml-3">Dəyiş<i class="icon-paperplane ml-2"></i></button>
            </fieldset>
        </form>

    </div>
</div>
