@model Infrastructure.Employees.ViewModels.EditEmployeeVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "İşçini Redaktə Et";
    ViewData["MainTitle"] = "İşçi";
    ViewData["SubTitle"] = "Redaktə Et";
    ViewData["employees"] = "active";
}
@section scripts
{

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/Limitless/global_assets/js/demo_pages/form_inputs.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_validation.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/switch.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/uploader_bootstrap.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_actions.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_select2.js"></script>

    <link href="~/lib/summernote/summernote-bs5.css" rel="stylesheet" />
    <script src="~/Limitless/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/editor_summernote.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/uniform.min.js"></script>


}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">İşçilər və Vəzifələr Bölməsi</h5>
    </div>

    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="nav-item"><a asp-controller="Employees" asp-action="Index" asp-route-page="1" class="nav-link active">İşçilər</a></li>
            <li class="nav-item"><a asp-controller="Positions" asp-action="Index" asp-route-page="1" class="nav-link ">Vəzifələr</a></li>
            <li class="nav-item"><a asp-controller="EmployeeFaults" asp-action="Index" asp-route-page="1" class="nav-link">Xətalar</a></li>
            <li class="nav-item"><a asp-controller="EmployeePunishments" asp-action="Index" asp-route-page="1" class="nav-link">Cəzalar</a></li>
        </ul>
        <div class="d-md-flex align-items-md-center flex-md-wrap text-center text-md-left">
            <ul class="list-inline list-inline-condensed mb-0">
                <li class="list-inline-item dropdown">
                    <a asp-action="Add" asp-controller="Employees" class="btn btn-link text-default"><i class="icon-add"></i> Yeni <strong>işçi</strong> əlavə et</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">İşçileərin sayahısı</h5>
        <div class="header-elements">
        </div>
    </div>

    <div class="card-body">
        <p class="mb-4">İşçini Redaktə Et</p>
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="Update" asp-controller="Employees" asp-area="Panel" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">İşçi məlumatları</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Ad</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="FullName">
                    </div>
                </div>
                <span asp-validation-for="FullName" class="text-danger"></span>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Mobil Nömrə</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="PhoneNumber">
                    </div>
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>


                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Adres</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="Address">
                    </div>
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>


                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Maaş</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="Salary">
                    </div>
                </div>
                <span asp-validation-for="Salary" class="text-danger"></span>

                @if (Model.CanMakeContract)
                {
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Müqavilə bağlaya bilərmi</label>
                        <div class="col-lg-3">
                            <input type="checkbox" asp-for="CanMakeContract" class="form-check-input-styled" checked data-fouc>
                        </div>
                    </div>
                    <span asp-validation-for="CanMakeContract" class="text-danger"></span>
                }
                else
                {
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Müqavilə bağlaya bilərmi</label>
                        <div class="col-lg-3">
                            <input type="checkbox" asp-for="CanMakeContract" class="form-check-input-styled" data-fouc>
                        </div>
                    </div>
                    <span asp-validation-for="CanMakeContract" class="text-danger"></span>
                }


                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Vəzifə</label>
                    <div class="form-check form-check-inline">
                        <div class="col-lg-3">
                            <select class="form-control select-fixed-single" asp-for="PositionId" asp-items="@Model.SelectList" data-fouc>
                            </select>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn bg-orange ml-3">Edit<i class="icon-paperplane ml-2"></i></button>
            </fieldset>
        </form>

    </div>
</div>
