@model Infrastructure.Spends.ViewModels.GetSpendVm
@{
    ViewData["spends"] = "active";
}

<h1>
    @Model.Name
</h1>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <button type="submit">Delete</button>
</form>
